<body>
    <div class="container">
        <h2>Admin Dashboard</h2>
        <div class="row">
            <div class="col-lg-4">
                <%=render "admin/partials/member_panel"%>
            </div>
            <div class="col-lg-8">
                <%=render "admin/partials/meetings_panel"%>
            </div>
            
        </div>
        
        
        
        
    </div>
</body>