<head>
    
</head>
<body>
    <div class="jumbotron">
        <h1>Byte Club</h1>
        <form>
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
        </form>
    </div>
</body>