<body>
    <div class="jumbotron">
        
        <div>
            <h1>Byte Club</h1>
            <h5 id="tagline">Bring a helmet.</h5>
        </div>
            <div>
                <a href="/auth/google_oauth2" class="btn btn-green">Sign In</a>
            </div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <% if @next_meeting.nil? %>
                    <h5>No Upcoming Meetings</h5>
                <% elsif @next_meeting.active%>
                    <h5>Meeting Now!</h5>
                    <p>3:30 PM in C104</p>
                <% else %>
                    <h5>Next Meeting Date:</h5>
                    <h2><%=@next_meeting.date.strftime("%a %b %d")%></h2>
                    <p>3:30 PM in C104</p>

                <%end%>
                <%= render "partials/announcements_list", :collection => @announcements %>
                <div class="container">
                    <a href="https://twitter.com/MHSByte" class="twitter-follow-button" data-show-count="false">Follow @MHSByte</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            	    <p>Text @mhsbyte to 81010 to get signed up for the MHS Byte Club Remind!</p>
            	    <a href="https://github.com/MHSByteClub">Check us out on Github!</a>
                </div>
                
            </div>
            <div class="col-md-8">
                <h4 id="goals">What We Do:</h4>
            	<ul>
            		<li>Give people a safe place to ask questions and learn about code and computing.</li>
            		<li>Build large-scale projects in teams</li>
            		<li>Spread awareness about the benfits of learning to code throughout MHS.</li>
            		<li>Support other MHS extra-curriculars with the use of technology and coding</li>
            		<li>Display exemplary digital citizenship and advocate for digital safety.</li>
            	</ul>
            	
            	<h4 id="donts">What We DON'T Do:</h4>
            	<p></p>
            	<ul>
            		<li>Pwn Newbs (We won't ever make you feel bad for asking questions and wanting to learn! It's the only way to get better.)</li>
            		<li>Hack others' systems, accounts, or resources without their expressed written consent.</li>
            		<li>Give out assignments. This isn't a class. However, you'll be expected to progress and build something that interestes you!</li>
            		<li>Get distracted by other computer-y stuff. <i>I'm looking at you Pokemon crowd.</i></li>
            	</ul>
            	<img src="<%=asset_url('byteclubfull.jpg')%>" style="width:100%"/>
            </div>
        </div>
    </div>
</body>