<div class="card" id="announcements-panel">
    <div class="card-body">
        <div class="card-heading">
            <h4 class="card-title">Announcements</h4>
            <div class="card-controls">
                <button class="btn btn-teal" data-target="#new_announcement_modal" data-toggle="modal">New Announcement</button>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group" id="announcements-list">
                
            </ul>
        </div>
    </div>
    <!--Done in a modal-->
    <%=render 'admin/partials/new_meeting_form'%>
</div>