<div class="card" id="members-panel">
    <div class="card-body">
        <h4 class="card-title">Meetings</h4>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">11/5/18 - Regular meeting - 18 attendees</li>
                <li class="list-group-item">11/5/18 - Regular meeting - 18 attendees</li>
                <li class="list-group-item">11/5/18 - Regular meeting - 18 attendees</li>


            </ul>
            
        </div>
        
    </div>
    
</div>