<div class="card" id="members-panel">
    <div class="card-body">
        <h4 class="card-title">Club Members</h4>
        <div class="card-body">
            <table class="table table-sm table-responsive-lg">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Year</th>
                    <th scope="col">Status</th>
                    <th scope="col">Projects</th>
                    <th scope="col">Actions</th>
                </thead>
                <tr>
                    <td>Dummy</td>
                    <td>dummy@data.com</td>
                    <td>Freshman</td>
                    <td>Active</td>
                    <td>2</td>
                    <td>
                        <button class="btn btn-sm btn-warning">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                        <button class="btn btn-sm btn-green">View</button>
                    </td>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>dummy@data.com</td>
                    <td>Freshman</td>
                    <td>Active</td>
                    <td>2</td>
                    <td>
                        <button class="btn btn-sm btn-warning">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                        <button class="btn btn-sm btn-green">View</button>
                    </td>
                </tr>
            </table>
            
        </div>
        
    </div>
    
</div>