.list-group{
    max-height: 300px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.navbar-brand img{
    height: 30px;
    margin-right: 10px;
}




/*////////////////////////Jumbotron*/
.jumbotron {
    position: relative;
    overflow: hidden;
    text-align: CENTER;
    z-index:1;
    background-color: var(--bc-black);
}

.jumbotron h1{
    font-family:'JK Abode';
    font-size:5em;
    color: var(--bc-teal);
    margin-bottom:-10px;
}


