

//JK Abode Font!
@font-face { 
    font-family: 'JK Abode';
    src: asset_url('JKAbode-Demo.ttf') format('truetype');
}

:root {
    --bc-teal: #7fc5db;
    --bc-black: #383838;
    --bc-yellow: #ffff6d;
    --bc-grey: #545454;
    --bc-green: #6baa75;
}

body{
    background-color:var(--bc-grey);
    color: white;
}

.container {
    background-color: var(--bc-black);
    padding: 10px;
}



//Typography
h2, h3, h4, h5, h6, p, input {
    font-family:'Raleway', sans-serif;
}


h4, h5, h6{
    color: var(--bc-yellow);
}

a{
    color:var(--bc-green);
}

a:hover{
    color:var(--bc-yellow);
    text-decoration:none;
}


//Navbar
.navbar-brand{
    font-family:'JK Abode', sans-serif;
    color: var(--bc-black);
}

.navbar{
    background-color: var(--bc-teal);
}

.navbar a{
    color:white;
}

.navbar a:hover{
    color:var(--bc-yellow);
}



//Jumbotron
.jumbotron {
    background-color: var(--bc-black);
    text-align: CENTER;

}

.jumbotron h1{
    font-family:'JK Abode';
    font-size:5em;
    color: var(--bc-teal);
    margin-bottom:-10px;
}

.jumbo-overlay{
    background-color: rgba(var(--bc-black), 0.6);
    padding:20px;
    border-radius: 25px;
    
}


//Inputs and Forms
input {
    background-color: var(--bc-grey);
    border: none;
    color: white;
    padding:5px;
    border-radius:3px;
    margin: 5px 5px;
}

input:focus {
    outline: none;
    border-bottom: solid 2px var(--bc-yellow);
}

.btn {
    font-family: "Raleway", sans-serif;
    margin:0px;
}

//Button colors
.btn-green{
    background-color: var(--bc-green);
    color: white;
}

.btn-yellow{
    background-color: var(--bc-yellow);
    color: var(--bc-black);
}

.btn-teal{
    background-color: var(--bc-teal);
}



footer {
    background-color: var(--bc-teal);
}