// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    color: white;
    text-align: CENTER;
    a {
        color:white;
    }
}


/* CARD COLUMNS STYLING*/

.card-columns{
    @include media-breakpoint-only(sm){
        column-count: 2;
    }
    
    @include media-breakpoint-only(md){
        column-count: 3;
    }
    
    @include media-breakpoint-only(lg){
        column-count: 4;
    }
}