<div class="container">
    <div class="card">
        <div class='card-header'>
            <h4>The Byte Club 5</h4>
        </div>
        <div class='card-body'>
            <p>Try completing these 5 projects to get you started with coding. They will also help you find out what type of coding or programming you might want to learn more about.</p>
            <ol>
                <li>Build your own webpage from scratch.</li>
                <li>Build a text-based adventure game.</li>
                <li>Build a processingJS sketch to add to the impossible quiz.</li>
            </ol>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header">An Introduction to Code</h4>
        <div class='card-body'>
            <p>There are unbelievable free resources out there. In fact, there are so many that simply picking one can be overwhelming. It's all about what you want to learn to do.</p>
            <p>Start with something that excites you and explore the resources that follow.</p>
            <h6>"I wanna make games!"</h6>
            <ul>
                <li>Try Scratch for an easy way to get started with block code.</li>
                <li>More advanced? Try using Python's Turtle module to build simple graphics games.</li>
                <li>See what you can do with Khan Academies processingJS module.</li>
            </ul>
            <h6>"I wanna build websites and web apps"</h6>
            <ul>
                <li>No sense building websites without learning the essentials of HTML, CSS< and Javascript (JS)</li>
                <li>Try CodePen, your free online playground to build small pieces of websites and test your skills with the 3 languages of the web.</li>
                <li>See what you can do with Khan Academies processingJS module.</li>
            </ul>
        </div>
        
    </div>
</div>