<div class="container">
    <div class="card">
        <div class='card-header'>
            <h4>The Byte Club 5</h4>
        </div>
        <div class='card-body'>
            <p>Try completing these 5 projects to get you started with coding. They will also help you find out what type of coding or programming you might want to learn more about.</p>
            <ol>
                <li>Build your own webpage from scratch.</li>
                <li>Build a text-based adventure game.</li>
                <li>Build a processingJS sketch to add to the Impossible Game</li>
                <li>Learn about Randomness building a Random Walker or simulating a Bird flock.</li>
                <li>Implement some basic sorting algorithms or make a random phrase generator.</li>
            </ol>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header">Curated Resources to Get You Started</h4>
        <div class='card-body'>
            <p>There are unbelievable free resources out there. In fact, there are so many that simply picking one can be overwhelming. It's all about what you want to learn to do.</p>
            <p>Start with something that excites you and explore the resources that follow.</p>
            <h6>"I wanna make games!"</h6>
            <ul>
                <li>Try <a href="https://scratch.mit.edu/" target="_blank">Scratch</a> for an easy way to get started with block code.</li>
                <li>More advanced? Try using <a href="https://repl.it/languages/python_turtle" taret="_blank">Python's Turtle</a> module on Repl.it to build simple graphics games.</li>
                <li>See what you can do with <a href="https://www.khanacademy.org/computer-programming/new/pjs" target="_blank">Khan Academy's processingJS module.</a></li>
            </ul>
            <h6>"I wanna build websites and web apps"</h6>
            <ul>
                <li>No sense building websites without learning the essentials of <a href="https://www.codecademy.com/catalog/language/html-css" target="_blank">HTML, CSS and Javascript (JS)</a></li>
                <li>Try <a href="https://codepen.io/" target="_blank">CodePen</a>, your free online playground to build small pieces of websites and test your skills with the 3 languages of the web.</li>
                <li>See what you can do with <a href="https://www.khanacademy.org/computer-programming/new/pjs" target="_blank">Khan Academy's processingJS module.</a></li>
            </ul>
            <h6>"I wanna build simulations, work with data and A.I. and stuff!"</h6>
            <ul>
                <li>Sweet! You can get a quick intro from Khan Academy's <a href="https://www.khanacademy.org/computing/computer-programming/programming-natural-simulations" target="_blank">Nautral Simulations course</a></li>
                <li>To really dig in, though, you should learn a bit about Python over at <a href="https://www.codecademy.com/learn/learn-python" target="_blank">Codecademy's Python 2</a> course.</li>
                <li>The computers in C104 are equipped with a Python IDE called Canopy that you can try out too.</li>
            </ul>
            
            <h6>"I wanna be a h@ckz0r and pwn newbs."</h6>
            <ul>
                <li>Alright! Calm down and learn better slang. Start your hacking over at <a href="https://picoctf.com/get_started" target="_blank">PicoCTF</a></li>
                <li>Wanna dig deeper? Try <a href="https://www.hackthissite.org" target="_blank">HackThisSite</a></li>
                <li>How about a free course on <a href="https://www.cybrary.it/course/ethical-hacking/" target="_blank">Ethical Hacking</a>?</li>
                <li>How about getting involved in <a href="https://www.uscyberpatriot.org" target="_blank">Cyberpatriot</a></li>
            </ul>
        </div>
        
    </div>
    <div class="card">
        <div class="card-header"><h2>How to Byte</h2></div>
        <div class="card-body">
            <h5>A Quick note from Mr. Farmer, club sponsor</h5>
            <p>Congratulations on starting your coding journey with us!</p>
            <p>
                It doesn't take long to see how incredibly valuable learning to code can be regardless of what you want to study or do in the future.
                Nearly every profession has come to rely heavily on personal and mobile computing as a huge part of everyday life. Frankly, it's
                surprising that everyone doesn't learn to code.
                
                <br>
                However, it's also easy to be overwhelmed when coding (this doesn't go away). But anything worth doing is going to be difficult
                and coding is no exception (that one's for you Kenny). As you're learning to code you will <str>defininetly</str> struggle at times.
                Here are a few tips on how to learn to code the Byte Club way:
            </p>
            <ol>
                <li><b>Be patient with yourself.</b> This is like learning another language and it takes a lot of time. </li>
                <li>
                    <b>Be Scrappy.</b> Don't give up! Evar. If you don't know what to do, get on Google and search up your question with the language you're using and you'll almost always find an answer. If
                    you find yourself searching for more than a couple of minutes, ask a Byte Club leader for help! (We'll probably need to Google it too.")
                </li>
                <li><b>Be friendly</b> Ask for help, work with friends. People are people too.</li>
                <li><b>The 2 Feelings of Coding:</b> Master/Mistress of the Universe and All the Light Touches or Complete Failure. These are the only ways to feel 90% of the time.
                    You'll feel like one more than the other for a lot of the time. That just means you're doing it right. 
                </li>
                <li>
                    <b>Build projects instead of doing tutorials.</b> While tutorials are really important, especially when you first begin, trying to make a project that is way
                    too hard for you is also a fantastic way to grow your skills and build on your scrappyness (see above).
                </li>
                <li>
                    <b>Be positive.</b> Don't let anyone make you feel stupid for not knowing something or asking a question. If you talk with someone
                    who doesn't want to help you, then you probably don't want their help either. That's very not-Byte-Club.
                </li>
            </ol>
        </div>
    </div>
</div>