<body>
    <div>
        
    </div>
    <div id='controls'>
        <div class="container">
            <h3>Welcome back, <%=@member.username%></h3>
            <a href="/logout" class="btn btn-danger">Logout</a> 
        </div>
        
    </div>
</body>